mixin addYear(year)
    .single-timeline-area
        .timeline-date.wow.fadeInLeft(data-wow-delay='0.1s' style='visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;')
            p= year
        if block 
            .row 
                block 
        else 
            undefined

mixin addNote(date, summary)
    .col-12.col-md-6.col-lg-4
        .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay='0.3s' style='visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;')
            //- .timeline-icon
            //-     i.fa.fa-address-card(aria-hidden='true')
            .timeline-text
                h6= date
                p= summary


section.timeline_area.section_padding_130
  .container
    .row
      .col-12
        // Timeline Area
        .apland-timeline-area
            +addYear("2021")
                +addNote("12 Mar", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +addNote("12 Mar", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +addNote("12 Mar", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +addNote("12 Mar", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
            +addYear("2017")
                +addNote("2021/05/27", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +addNote("2021/05/27", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
            +addYear("2005")
                +addNote("2021/05/27", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
                +addNote("2021/05/27", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
            