extends layout 

block content 

    h3 Add New Note
    hr

    form#newNote(action='/addNote' method='POST')

        .row 
            .col-9
                .form-outline.mb-4.h5
                    label.form-label(for='name') Title
                    input#name.form-control(type='text' name='title')
            .col-1
                .form-outline.mb-4.h5
                    label.form-label(for='date') Year
                    input#name.form-control(type='text' name='year')
            .col-1
                .form-outline.mb-4.h5
                    label.form-label(for='date') Month
                    input#name.form-control(type='text' name='month')
            .col-1
                .form-outline.mb-4.h5
                    label.form-label(for='date') Date
                    input#name.form-control(type='text' name='date')
            
        // Message input
        .form-outline.mb-4.h5
            label.form-label(for='message') Description
            textarea#message.form-control(rows='4' name='description')

        // Submit button
        button.btn.btn-primary.btn-block.mb-4(type='submit') Submit