extends layout

block content

mixin meetingItem(client_name,Age,PhNo)
    a.list-group-item.list-group-item-action-px-2.column.align-items-start.my-2.shadow(href='#')
        .d-flex.w-100.justify-content-between
            h4.mb-1= client_name
            .d-flex.w-50.justify-content-between
                h5 Age: #{Age} 
                h5  Phone Number: #{PhNo}


block content

    br
    .container
        .row.mb-0
            .col
                h3.mt-2.mb-0.pt-2 Your Existing Clients:
            .col.text-end
                a.btn.btn-primary.m-2.shadow(href='/newClient', role='button') 
                    i.fas.fa-plus
                    | Add New Client
        hr
        .list-group
            +meetingItem("Shagun Sood", "23","9480391910")

