extends layout

block content
  
  section.jumbotron.pt-8
    .container
      h1 TheraPlanner
      p.lead All-in-one workspace for mental health professionals
      hr


    .container.text-center
      //- p isAuthenticated
      if !isAuthenticated
        a.btn.btn-primary.btn-lg.m-2(href='/login', role='button') Log In/Sign Up
      else
        h4 Hi there! #{locals.user.given_name}
        a.btn.btn-primary.btn-lg.m-2(href='/dashboard', role='button') Go to Dashboard

    .container.m-4
      .row 
        .col
          blockquote.blockquote.my-4.text-justify
            p.mb-0
              | TheraPlanner’s primary feature is providing a story of the client through simple and powerful visualizations. TheraPlanner can also tackle note taking, session scheduling and client management. Through these tools presented in a unified manner the counsellor can recollect notes from previous sessions, identify trends and plan for upcoming sessions better.
        .col
          img.img-fluid(src='/undraw_mindfulness_scgo.svg' alt='e')
