extends layout

block content

    h3 Add New Client Details  
    hr


    form
      // Name input
      .row.mb-4
          .col
            .form-outline.h5
              label.form-label(for='fname') First name
              input#fname.form-control(type='text')
          .col
            .form-outline.h5
              label.form-label(for='lname') Last name
              input#lname.form-control(type='text')
          
        
      // Start Time
      .row.mb-4
        .col
            .form-outline.h5
                label.form-label(for='age') Age
                input#age.form-control(type='text')
        .col
            .form-outline.h5
                label.form-label(for='contact') Phone No
                input#contact.form-control(type='text')
      
        .form-outline.mb-4.h5
            label.form-label(for='email') Email address  
            input#email.form-control(type='email')
              
        button.btn.btn-primary.btn-block.mb-4(type='submit') Submit
