extends layout

block content

    h3 Add new Client
    hr

    form
      // Name input
      .form-outline.mb-4.h5
        label.form-label(for='form4Example1') Name
        input#form4Example1.form-control(type='text')
        
      // Start Time
      .row.mb-4
        .col
            .form-outline.h5
                label.form-label(for='form3Example1') Age
                input#form3Example1.form-control(type='text')
        .col
            .form-outline.h5
                label.form-label(for='form3Example2') Phone No
                input#form3Example2.form-control(type='text')
            
        
      // Submit button
      button.btn.btn-primary.btn-block.mb-4(type='submit') Submit
