extends layout


block content

    h3 Schedule New Meeting 
    hr

    form#newItem(action='/newItem' method='POST')
      
      .row.h5
        .col
            .form-outline
                label.form-label(for='name') Name
                input#name.form-control(type='text' name="clientName")
        .col
            .form-outline
                label.form-label(for='email') Email address  
                input#email.form-control(type='Email' name="clientEmail")
      
        
      // Start Time
      .row.h5
        .col
            .form-outline
                label.form-label(for='date') Date
                input#date.form-control(type="datetime-local" name="when")
        .col
            .form-outline
                label.form-label(for='duration') Duration
                select#duration.form-control(form='newItem' name='duration')
                    option(selected='' disabled) In minutes...
                    option(value=45) 45 mins
                    option(value=60) 60 mins
                    option(value=90) 90 mins
      
      .row.h5
        // Message input
        .form-outline
          label.form-label(for='to_do') To-Do
          textarea#to_do.form-control(rows='4' name="toDo")

      
        
      // Submit button
      button.btn.btn-primary.btn-block.mb-4(type='submit') Submit



